*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  color: white;
  background-color: #B7C4CE;
}
.navigation{
    padding-top: 5px;
    display: flex;
    width: 100%;
    align-items: right;
    justify-content: space-between;
}
.title{
  padding-left: 100px;
  padding-top: 8px;
  display: flex;
}
/* .logohead{
  transform: scale(0.25); 
  transform-origin: 0 0;
  padding-right: 75px;
  margin-left: 15px;
  animation: rotateLogo 5s linear infinite;
}
@keyframes rotateLoo{
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}   */
.logohead img {
  padding-left: 5px;
  max-width: 25%; /* Set the maximum width to 100% of its container */
  height: auto; /* Maintain the aspect ratio */
  animation: rotateLogo 5s linear infinite;
  transform-origin: center; /* Set the rotation point to the center of the logo */
  border-radius: 50%;
}

@keyframes rotateLogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.arrow-open{
  padding-left: 5px;
  transform: scale(0.75);
  width: 15px;
}
.arrow-open:hover{
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          cursor: pointer;
          padding-left: 5px;      
}

.hidden {
  display: none;
  list-style: none;
  line-height: 1rem;
  letter-spacing: 1px;
  padding-top: 5px;
}
.hidden li a{
  text-decoration: none;
}
.item:hover .hidden {
  display: block; /* Show the list when the parent item is hovered */
}

.login-button{
  padding: 10px;
  margin-right: 25px; 
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(170, 186, 199);
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: whitesmoke;
} 

.login-button:hover{
  color: black ;
  transform: scale(1.1);

}
.intro{
  margin-top: 13%;
  margin-left: 15px;
}
.signup-button{
  margin-top: 10px;
  padding-top: 15px;
  padding: 15px;
  border-radius: 17px;
  border: none;
  background-color: white ;
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
}
.signup-button:hover{
  background-color: black;
  color: aliceblue;

}
.secondpart{
  display: flex;
  justify-content: space-between ;
}
.intro{
  width: 59%;
}
.aiintro{
  margin-bottom: 15px;
  font-weight: 600;
}
.aiintro2{
  margin-bottom: 15px;
  font-size: 45px;
}
.deco{
  width: 40%;
}
.container2{
  padding-top: 6%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-bottom: 6%;

}
.aipower{
  width: 50%;
  padding-left: 15px;
}
.aipower2{
  padding-left: 20px;
  padding-top: 70px;
  font-size: 1.2rem;
  word-spacing: 1px;
}
.aipower3 {
  padding-bottom: 20px;
}
.aipower3 h2{
  font-weight: 800;
}
.aipower4{
  padding-bottom: 2px;
  padding-left: 25px;
}
.aipower5{
  padding-left: 25px;
}
.container3{
  display: flex; 
  width: 100%;
}
.postjobs{
  padding: 1rem;
  padding-left: 4rem ;
  width: 35%;
  margin-top: -2rem;
}
.versatile{
  padding-left: 20px;
  padding-top: 3rem;
  font-size: 1.2rem;
  word-spacing: 1px;
}
.versatile h2{
  font-size: 1.8rem;
  font-weight: 800;

}
.versatile1{
  padding-top: 1rem;
  padding-left: 1rem;
}
.versatile2{
  padding-top: 1rem;
  padding-left: 1rem;
}
.versatile3{
  padding-top: 1rem;
  padding-left: 1rem;
}
.moredescription{
  color:  rgb(40, 94, 40);
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 4rem;

}
.moredescription1{
 margin: -2rem;
  font-size: 2.5rem;
}
.descriptionimg{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
}
.descriptionimg1{
  width: 65%;
}
.descriptionimg2{
  width: 70%;
}
.descriptionimg3{ 
}
.work{
  text-align: center;
  padding-bottom: 5rem;
}
.worktoday{
  align-content: center;
  
  font-size: 40px;
  font-weight: 800;
  padding-top: 4.5rem;
  line-height: 2rem;

}
.work p{
  padding-top: 1rem;
  font-size: 25px;
}

.tryit{
  margin-top: 10px;
  padding-top: 20px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color:  rgb(40, 94, 40);
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
}
.tryit:hover{
  background-color: rgb(20, 68, 20);
  color: rgb(230, 234, 238);
}


.last-part{
  height: 20rem;
  display: flex;
  background-color: rgb(0, 0, 10);
  border-top-right-radius: 5rem;
  padding-top: 3rem;
}
.last-logo{
  padding: 3rem;
   margin-top: -2rem;
}
.last-text{
  
  padding-left: 15%;
}
.last-part ul{
  align-items: flex-start;
  list-style: none;
}
.last-part h3{
  color: white;
  display: flex;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.last-part li a {
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
  line-height: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
}
.last-part li  :hover{
  color: white;
  text-decoration: underline;

}
.attribution {
   font-size: 11px; 
  text-align: center;
  background-color: grey ;
  height: 1.5rem;
  padding-top: 0.5%;
}
.attribution a
{ color: hsl(228, 45%, 44%); }




  
   @media (max-width: 480px) {
      .text {
        font-size: 16px;
      }
    }

